:root {
  --body-color: #50285a; /* ersilia purple */
  --primary-color: #bee6b4; /* ersilia green */
  --primary-color-dark: #bee6b4; /* ersilia green dark */
  --header-height: 58px;
  --bg: #ffffff;
  --bg-secondary: #bee6b4; /* ersilia green */
  --bg-transparent: rgba(255, 255, 255, .9);
  --bg-teritary: rgba(80,40,90,0.1); /* ersilia purple */
  --dark-bg: rgba(90,50,100); /* ersilia purple */
  --code-bg: rgba(90,50,100); /* ersilia purple */
  --select-color: #bee6b4; /* ersilia green */
  --inline-code-text: #50285a; /* ersilia purple */
  --inline-code-bg: #bee6b4; /* ersilia green */
  --border-color: #bee6b4; /* ersilia green */
  --border-color-darker: #50285a; /* ersilia purple */
  --mark-color: #50285a; /* ersilia purple */
  --border-radius: 5px;
  --success-bg: #50285a; /* ersilia purple */
  --space: 10px; /* 25px; */
  --space-x2: 20px; /* 50px; */
  --code-color: #50285a; /* ersilia purple */
  --glow: 0px 0px 0px 0 var(--border-color-darker);

  @media screen and (max-width: 550px) {
    --space: 20px;
    --space-x2: 20px;
  }

  [data-theme="dark"] {
    --body-color: #bee6b4; /* ersilia green */
    --bg: #50285a; /* ersilia purple */
    --bg-secondary: #bee6b4; /* ersilia green */
    --bg-teritary: rgba(190,230,180,0.1); /* ersilia green */
    --bg-transparent: rgba(80,40,90,0.9); /* ersilia purple */
    --border-color: #bee6b4; /* ersilia green */
    --border-color-darker: #aad2a0; /* ersilia green dark */
    --inline-code-text: #50285a; /* ersilia purple */
    --inline-code-bg: #aad2a0; /* ersilia green dark */
    --primary-color: #bee6b4; /* ersilia green */
    --primary-color-dark:  #bee6b4; /* ersilia green dark */
    --glow: 0px 0px 0px 0 #071521;
  }

}
